streamlit
python-multipart
scikit-learn==1.7.1
requests
uvicorn
fastapi
pydantic
sentence-transformers
faiss-cpu
numpy
tiktoken
feedparser
beautifulsoup4
openai-whisper
scipy
nltk
torch
tensorflow
transformers
